In [173]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LinearRegression
from sklearn import metrics

In [174]:
df = pd.read_csv('Downloads/CAR DETAILS FROM CAR DEKHO.csv')

In [175]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [176]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [178]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [179]:
df['transmission'].value_counts()

transmission
Manual       3892
Automatic     448
Name: count, dtype: int64

In [180]:
df['seller_type'].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [181]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [182]:
df['owner'].value_counts()

owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [183]:
m1 = {'Diesel' : 0, 'Petrol' : 1, 'CNG' : 2, 'LPG' : 3, 'Electric' : 4}
df['fuel'] = df['fuel'].map(m1)

In [184]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,0,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,1,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,0,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,0,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,0,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,1,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,0,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,1,Individual,Manual,First Owner

In [185]:
m2 = {'Manual' : 0, 'Automatic' : 1}
df['transmission'] = df['transmission'].map(m2)

In [186]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,Individual,0,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,Individual,0,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,0,Individual,0,First Owner
3,Datsun RediGO T Option,2017,250000,46000,1,Individual,0,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,0,Individual,0,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,0,Individual,0,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,0,Individual,0,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,1,Individual,0,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,0,Individual,0,First Owner
4339,Renault KWID RXT,2016,225000,40000,1,Individual,0,First Owner

In [187]:
m3 = {'Individual' : 0, 'Dealer' : 1, 'Trustmark Dealer' : 3}
df['seller_type'] = df['seller_type'].map(m3)

In [188]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,0,0,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,0,0,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,0,0,0,First Owner
3,Datsun RediGO T Option,2017,250000,46000,1,0,0,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,0,0,0,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,0,0,0,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,0,0,0,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,1,0,0,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,0,0,0,First Owner
4339,Renault KWID RXT,2016,225000,40000,1,0,0,First Owner

In [189]:
m4 = {'First Owner' : 0, 'Second Owner' : 1, 'Third Owner' : 2, 'Fourth & Above Owner' : 3, 'Test Drive Car' : 4}
df['owner'] = df['owner'].map(m4)

In [190]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,1,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,1,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,0,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,1,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,0,0,0,1
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,0,0,0,1
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,0,0,0,1
4337,Maruti 800 AC BSIII,2009,110000,83000,1,0,0,1
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,0,0,0,0
4339,Renault KWID RXT,2016,225000,40000,1,0,0,0

In [191]:
X = df.drop(['name', 'selling_price'], axis = 1)
Y = df['selling_price']

In [192]:
X

      year  km_driven  fuel  seller_type  transmission  owner
0     2007      70000     1            0             0      0
1     2007      50000     1            0             0      0
2     2012     100000     0            0             0      0
3     2017      46000     1            0             0      0
4     2014     141000     0            0             0      1
...    ...        ...   ...          ...           ...    ...
4335  2014      80000     0            0             0      1
4336  2014      80000     0            0             0      1
4337  2009      83000     1            0             0      1
4338  2016      90000     0            0             0      0
4339  2016      40000     1            0             0      0

[4340 rows x 6 columns]

In [193]:
Y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [194]:
# puting 70% data in training and 30% in testing

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 2)

In [195]:
lin_reg_model = LinearRegression()

In [196]:
lin_reg_model.fit(X_train, Y_train)

LinearRegression()

In [197]:
training_data_prediction = lin_reg_model.predict(X_train)

In [198]:
error_score = metrics.r2_score(Y_train, training_data_prediction)
print("R squared Error : ", error_score)

R squared Error :  0.4432902205954936